$lightGrey: #D9D9D9;
$grey: #8C8C8C;
$darkGrey: #404040;
$white: #fff;
$black: #0D0D0D;

$backgroundGrey: #F2F2F2;

.leftNav {
	display: flex;
	flex-direction: column;
	min-width: 30%;
	background: $backgroundGrey;
	border-right: 1px solid $lightGrey;
	height: 100vh;

	&__selection {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: stretch;
	}

	&__button {
		border: 1px solid $grey;
		width: auto;
		padding: 10px auto;
	}

	&__header {
		padding: 10px 5px;
		width: 100%;
		background: $darkGrey;
		color: $white;
		font-weight: 700;
		font-size: 16px;
		box-sizing: border-box;
		display: none;

		&:hover {
			cursor: pointer;
		}

		&.is-active {
			display: block;
		}
	}

	&__elements {
		overflow: hidden;
		height: auto;
		max-height: 0;

		transition: 0.2s;

		&.is-active {
			overflow-y: scroll;
			max-height: 100vh;

			transition: 0.2s;
		}
	}

	&__list {
		padding: 0;
		margin: 0;
	}

	&__menuItem {
		background-color: $backgroundGrey;
		color: $black;
		list-style: none;
		text-align: center;
		padding: 5px;
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;

		&:hover {
			cursor: pointer;
			background-color: darken($backgroundGrey, 10);
		}

		&.selected {
			background-color: $grey;
			color: $white;
		}
	}

}
