$lightGrey: #D9D9D9;
$grey: #8C8C8C;
$darkGrey: #404040;
$white: #fff;
$black: #0D0D0D;

$backgroundGrey: #F2F2F2;

.table {
	width: auto;
	margin: 20px auto;

	.table-container {
		width: 100%;
		text-align: center;
	}

	table {
		caption {
			margin: 3px;

			&:last-of-type {
				margin-bottom: 6px;
			}
		}

		background: $backgroundGrey;
		border: 1px solid $grey;
		border-collapse: collapse;

		th, td {
			border: 1px solid $grey;
			padding: 1px 6px;
		}

		th {
			background: $lightGrey
		}
	}

	.table__result {
		font-weight: 700;
	}
}
